<IfModule mod_rewrite.c>
Options +FollowSymLinks
RewriteEngine On
#connect to DB
SetEnv DB_HOST hostname
SetEnv DB_NAME dbname
SetEnv DB_USER dbuser
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f
RewriteRule ^.*$ ./index.php
</IfModule>
