<IfModule mod_rewrite.c>
Options +FollowSymLinks
RewriteEngine On
#connect to DB
SetEnv DB_HOST localhost
SetEnv DB_NAME kepfeltolto2
SetEnv DB_USER root
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f
RewriteRule ^.*$ ./index.php
</IfModule>